<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
   </head>

<body>
    
    <%- include('../includes/navigation.ejs') %>
      <main>
        <h1> about website</h1>
        <p>
          this website is has three section and they are <br>
          admin login <br>
          company login <br>
          student login <br>
          In this, student can registor by himself and he/she needs <br>
          to enter unique email because this email will be use for login <br>
          purpose other details he/she can change after login <br>
          company cannot registor by himself.admin will register any company <br>
          same for company email and password will be assigned to login <br>
          and admin can add another admin but after adding nobody can delete admin <br>
          email password will be assigned to admin to get authority  
        </p>
    </div>
</main>
<%- include('../includes/end.ejs') %>