<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <style>
        body {
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>
</head>

<body background="../images\01.jpg">
    <%- include('../includes/companynav.ejs') %>

    <main>
        <marquee behavior="" direction="left">welcome in campous placement</marquee>
        <h1></h1>

    </div>
</main>
<%- include('../includes/end.ejs') %>